[submodule "tools/jvmhs"]
	path = tools/jvmhs
	url = https://github.com/ucla-pls/jvmhs.git
[submodule "tools/inliner/external/soot"]
	path = tools/inliner/external/soot
	url = https://github.com/eyolfson/soot.git
	branch = asmbytecodeoffset
[submodule "tools/jshrink"]
	path = tools/jshrink
	url = git@github.com:tianyi-zhang/call-graph-analysis.git
