[submodule "tools/jreduce"]
	path = tools/jreduce
	url = https://github.com/ucla-pls/jreduce.git
[submodule "tools/jinline"]
	path = tools/jinline
	url = git@laforge.cs.ucla.edu:jinline
[submodule "tools/jshrink"]
	path = tools/jshrink
	url = git@github.com:tianyi-zhang/call-graph-analysis.git
[submodule "tools/javaq"]
	path = tools/javaq
	url = git@laforge.cs.ucla.edu:javaq
