[submodule "tools/jvmhs"]
	path = tools/jvmhs
	url = https://github.com/ucla-pls/jvmhs.git
[submodule "tools/jinline"]
	path = tools/jinline
	url = git@laforge.cs.ucla.edu:jinline
[submodule "tools/jshrink"]
	path = tools/jshrink
	url = git@github.com:tianyi-zhang/call-graph-analysis.git
